.jumbotron {  /* header border */
	height: 200px;
	background-color: #292F3A;
}

.jumbotron::after{
	clear:left;
}

.logo {  /*logo size*/
	height: 120px;
	width: auto;
}

.mylogo{ /*logo div*/
	width:20%;
	height:100%;
	/*background-color: white;*/
	float:left;
}

/*.navbar-nav li a {
 line-height: 50px;
}*/

body { /*offsetting the body content from the top*/
	position: absolute;
	top:200px;
}
.myDiv{ /*DIV for the buttons*/
	
	margin: auto;
	width:20%;
	padding-top: 35px;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;

 
}
.myBtn{ /*button class */
	color:black;
	width: 90%;
	height:100%;
	border: none;
	
	
}
.btnColorS{
	background-color: #FFFFFF;

}

.btnColorB{
	background-color: #30364C;
	color: #FFFFFF;

}


.btnColorT{
	background-color: #73CDD9;
	color: #FFFFFF;

}

.btnColorL{
	background-color: #F0573D;
	color: #FFFFFF;
}

.DropContent {
	color:black;
	width: 90%;
	height:auto;
	/*text-align: center;*/
}





