.jumbotron {
	height: 200px;
	background-color: #292F3A;
}

.jumbotron::after{
	clear:left;
}

.logo {
	height: 120px;
	width: auto;
}

.mylogo{
	width:20%;
	height:100%;
	/*background-color: white;*/
	float:left;
}

.navbar-nav li a {
 line-height: 50px;
}

body {
	position: absolute;
	top:200px;
}
.myDiv{
	
	margin: auto;
	width:20%;
	padding-top: 35px;
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 0;

 
}
.myBtn{
	background-color: cyan;
	color:black;
	width: 80%;
	height:100%;
	border: none;
	
	
}
.btnColorS{
	background-color: #FFFFFF;

}

.btnColorB{
	background-color: #30364C;
	color: #FFFFFF;

}


.btnColorT{
	background-color: #73CDD9;
	color: #FFFFFF;

}

.btnColorL{
	background-color: #F0573D;
	color: #FFFFFF;
}

.DropContent {
	color:black;
	width: 80%;
	height:auto;
	/*text-align: center;*/
}





